/* Container for toast messages */
.pop-toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

/* Base style for toast messages */
.pop-toast {
  margin-bottom: 15px;
  padding: 8px 16px;
  border-radius: 8px;
  color: #222;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-size: 14px;
  display: flex;
  align-items: center;
  transform: translateX(100%);
}

/* Style for toast message */
.pop-toast-message {
  margin-right: 10px;
  flex-grow: 1;
}

/* Style for close button */
.pop-toast-close {
  font-size: 20px;
  padding: 0px 4px;
  line-height: 1;
  color: #555;
  opacity: 0.6;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 100%;
}

.pop-toast-close:hover {
  opacity: 1;
}

/* Animation classes */
.pop-toast-show {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.pop-toast-hidden {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.pop-toast-icon {
  margin-right: 4px;
}

.pop-toast-icon svg {
  vertical-align: middle;
}

/* Icons color */
.pop-toast-success .pop-toast-icon {
  color: #4CAF50;
}

.pop-toast-warning .pop-toast-icon {
  color: #FF9800;
}

.pop-toast-error .pop-toast-icon {
  color: #F44336;
}

.pop-toast-info .pop-toast-icon {
  color: #2196F3;
}